:root {
    --bg-primary: #1F1F1F;
    --bg-dark: #28292a; 
    --bg-light: #5F6368;
    --bg-active: #4D5156;
    --font-color: white; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--bg-primary);
    color: var(--font-color);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0.6rem;
}

.header__navbar {
    width: 55%;
    max-width: 17rem;
}

.header__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.header__link {
    color: var(--font-color);
    text-decoration: none;
    text-transform: capitalize;
    font-size: clamp(0.8rem, 1vw, 0.9rem);
    padding: 0.2rem 0;
}

.header__link:hover {
    text-decoration: underline;
}

.header__link img {
    width: 1.2rem;
    height: 1.2rem;
}

.header__link--icon {
    height: 1.25rem;
    width: 1.25rem;
    padding: 1.2rem;
    transition: background-color 0.2s ease;
}

.header__link--icon:hover,
.header__link--icon:focus-within {
    text-decoration: none;
    background-color: var(--bg-dark);
}

.header__link--icon,
.header__link--image  {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.header__link--image {
    padding: 0;
}

.header__link--image img {
    width: 2rem;
    height: 2rem;
    padding: 0.1rem;
    border: 3px solid;
    border-radius: 100%;
    box-sizing: content-box;
    border-top-color: red;
    border-left-color: rgb(255, 213, 0);
    border-right-color: rgb(0, 149, 255);
    border-bottom-color: green;
}

.header__link--image:hover img,
.header__link--image:focus-within img {
    opacity: 0.7;
}

/* Main */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 11rem 0;
    gap: 1.5rem;
}

.hero__imageContainer {
    width: 60%;
    max-width: 18rem;
    min-width: 20%;
}

.hero__imageContainer img {
    width: 100%;
    height: 100%;
}

.hero__form {
    width: 90%;
    max-width: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    position: relative;
}

.hero__input {
    width: 100%;
    height: 3.5rem;
    padding: 1rem 4rem;
    outline: none;
    border-radius: 40px;
    color: var(--font-color);
    background-color: var(--bg-active);
    border: none;
    transition: background-color 0.3s ease;
}

.hero__input:hover,
.hero__input:focus-within {
    background-color: var(--bg-light);
}

.hero__button {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease;
}
.hero__button--add {
    left: 0.6rem;
}

.hero__button--add:hover,
.hero__button--add:focus-within {
    background-color: var(--bg-dark);
}

.hero__image {
    width: 1.8rem;
    height: 1.8rem;
}

.hero__icons {
    width: 50%;
    max-width: 12rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: 0;
}

.hero__button--secondary {
    position: relative;
}

.hero__button--ai {
    width: 60%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-inline-end: 0.6rem;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
}

.hero__image--secondary {
    width: 1.5rem;
    height: 1.6rem;
}

.hero__linksContainer {
    width: 90%;
    display: flex;
    justify-content: center;
}

.hero__link {
    width: 50%;
    max-width: 13rem;
    margin: 0 0.5rem;
    padding: 0.8rem 0.5rem;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 0.9rem;
    color: var(--font-color);
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: #303134;
    transition: border-color 0.3s ease;
}

.hero__link:hover, 
.hero__link:focus-within {
    border-color: white;
}

.hero__description {
    margin-block-start: 2rem;
    font-size: 0.9rem;
}

.hero__description a {
    text-decoration: none;
    color: #79C3FF;
}
