:root {
    --bg-primary: #1F1F1F;
    --bg-dark: #28292a; 
    --bg-light: #5F6368;
    --bg-active: #4D5156;
    --font-color: white; 
    --red: red;
    --yellow: rgb(255,231,0);
    --blue: rgb(0,149,255);
    --green: green;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--bg-primary);
    color: var(--font-color);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0.6rem;
}

.header__navbar {
    width: 55%;
    max-width: 17rem;
}

.header__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.header__link {
    color: var(--font-color);
    text-decoration: none;
    text-transform: capitalize;
    font-size: clamp(0.8rem, 1vw, 0.9rem);
    padding: 0.2rem 0;
}

.header__link:hover {
    text-decoration: underline;
}

.header__link img {
    width: 1.2rem;
    height: 1.2rem;
}

.header__link--icon {
    height: 1.25rem;
    width: 1.25rem;
    padding: 1.2rem;
    transition: background-color 0.2s ease;
}

.header__link--icon:hover,
.header__link--icon:focus {
    text-decoration: none;
    background-color: var(--bg-dark);
}

.header__link--icon,
.header__link--image  {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.header__link--image {
    padding: 0;
}

.header__link--image img {
    width: 2rem;
    height: 2rem;
    padding: 0.1rem;
    border: 3px solid;
    border-radius: 100%;
    box-sizing: content-box;
    border-top-color: var(--red);
    border-left-color: var(--yellow);
    border-right-color: var(--blue);
    border-bottom-color: var(--green);
}

.header__link--image:hover img,
.header__link--image:focus img {
    opacity: 0.7;
}

/* Main */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8.2rem 0;
    gap: 1.5rem;
}

.hero__imageContainer {
    width: 60%;
    max-width: 18rem;
    min-width: 20%;
}

.hero__imageContainer img {
    width: 100%;
    height: 100%;
}

.hero__form {
    width: 90%;
    max-width: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    position: relative;
}

.hero__input {
    width: 100%;
    height: 3.5rem;
    padding: 1rem 4rem;
    outline: none;
    border-radius: 40px;
    color: var(--font-color);
    background-color: var(--bg-active);
    border: none;
    transition: background-color 0.3s ease;
}

.hero__input:hover,
.hero__input:focus {
    background-color: var(--bg-light);
}

.hero__button {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.hero__button--add {
    left: 0.6rem;
}

.hero__button--add:hover,
.hero__button--add:focus-within {
    background-color: var(--bg-dark);
    animation: rotate 0.5s linear 0.1s;
}

.hero__image {
    width: 1.8rem;
    height: 1.8rem;
}

.hero__icons {
    width: 50%;
    max-width: 12rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: 0;
}

.hero__button--secondary {
    position: relative;
}

@keyframes rainbow {
    0% { 
        filter: hue-rotate(0deg); 
    }
    100% { 
        filter: hue-rotate(360deg); 
    }
}

.hero__button--ai {
    width: 60%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-inline-end: 0.6rem;;
    border: 1px solid;
    border-radius: 20px;
    color: white;
    animation: rainbow 1.2s linear infinite;
    border-top-color: var(--red);
    border-left-color: var(--yellow);
    border-right-color: var(--blue);
    border-bottom-color: var(--green);
}

.hero__image--secondary {
    width: 1.5rem;
    height: 1.6rem;
}

.hero__linksContainer {
    width: 90%;
    display: flex;
    justify-content: center;
}

.hero__link {
    width: 50%;
    max-width: 13rem;
    margin: 0 0.5rem;
    padding: 0.8rem 0.5rem;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 0.9rem;
    color: var(--font-color);
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: #303134;
    transition: border-color 0.3s ease;
}

.hero__link:hover, 
.hero__link:focus {
    border-color: white;
}

.hero__description {
    margin-block-start: 2rem;
    font-size: 0.9rem;
}

.hero__description a {
    text-decoration: none;
    color: #79C3FF;
}

.hero__description a:hover {
    text-decoration: underline;
}

/* Footer */
.footer {
    width: 100%;
    background-color: #171717;
    font-size: 0.9rem;
}

.footer__country {
    padding: 1rem 2rem;
    border-bottom: 2px solid #2D2E2E;
}

.footer__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    gap: 2rem;
}

.footer__about,
.footer__privacy {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer__privacy {
    justify-content: space-evenly;
}

.footer__link {
    width: 30%;
    max-width: 6rem;
    text-align: center;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}

.footer__link--special {
    margin-block-start: 2rem;
    width: 100%;
    max-width: none;
}

.footer__link:hover,
.footer__link:focus,
.footer__country-text:hover, 
.footer__country-text:focus {
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (min-width: 550px) {
    .hero {
        padding: 9.8rem 0;
    }
    
    .footer__link--special {
        max-width: 10rem;
        margin: 0;
    }
}

@media screen and (min-width: 780px) {
    .hero {
        padding: 11.3rem 0;
    }
    
    .footer__information {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .footer__about {
        width: 65%;
        justify-content: space-between;
    }
    
    .footer__privacy {
        width: 25%;
    }
}

@media screen and (min-width: 1400px) {
    .hero {
        padding: 11rem 0;
    }
    .footer__about {
        width: 35%;
    }

    .footer__privacy {
        width: 20%;
    }
}
